.Toolbar{
    width:100%;
    margin: 0 auto;
    height: 55px;
    position: fixed;
    z-index: 5000;
    box-sizing: border-box;
    box-shadow: 0 2px 3px #f0eded;
    background-color: #23282d;
}
.MobileBar{
    display: none;
}
@media (max-width: 768px){
    .DesktopOnly{
        display:none;
    }
    .MobileBar{
        display: inline-block;
        height: 100%;
        color: #3388fe;
    }
}